$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
$primary:hsl(217, 19%, 35%);
$light: rgb(237, 242, 248);
$success: hsl(263, 55%, 52%);
$info: hsl(263, 71%, 72%);
$danger: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

.d-flex img {
    width: 50px;
}

.attribution {
    font-size: 11px;
    text-align: center;

  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .comillasCard {
    background-image: url("../testimonials-grid-section-main/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 85% top;

}

  @media (min-width: 992px) {
    .altura-100 {
      height: 100vh;
    }
  }

@import "../node_modules/bootstrap/scss/bootstrap";